*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: #fafafa;
}

html {
  box-sizing: border-box;
}

p {
  font-size: 1rem;
}

small {
  font-size: 1rem;
}

a {
  text-decoration: none;
}

.logo {
  display: inline-block;
}
.logo--img {
  width: 100%;
}

.paragraph {
  margin-bottom: 2ch;
}

.picture {
  border: 1px solid #b3b3b3;
  background-color: #f2f2f2;
  padding: 0.5rem;
}
.picture__title, .picture__description {
  text-align: center;
}
.picture__title {
  background-color: #cae04b;
  padding: 2px 0;
  box-sizing: border-box;
}
.picture__description {
  padding: 0.25rem 0;
}
.picture__image {
  width: 100%;
}

.quick-links {
  width: 75%;
  margin: 0 auto;
}
.quick-links__list {
  list-style: none;
}
.quick-links__header {
  margin-top: 1rem;
  margin-bottom: 0.25rem;
}

.header {
  font-family: serif;
}
.header__subtitle {
  margin-top: 0.25rem;
  color: #1a1a1a;
}

.aside__left, .aside__right, .main--container, .header, .body {
  padding: 0.25rem;
  float: left;
}

.aside__left {
  width: 10%;
}

.aside__right {
  width: 20%;
  float: right;
}

.header {
  font-family: serif;
}

.main--container {
  width: 90%;
  background-color: white;
  border: 1px solid #73738c;
}

.body {
  width: 80%;
}

.header {
  width: 100%;
  height: 5rem;
}

.content-list {
  clear: both;
}

.footer {
  clear: both;
}
