.content-table {
    border: 1px solid hsl(0, 0%, 80%);
    width: 250px;

    clear: both;

    margin-left: 0.5rem;

    &__list {
        width: 100%;

        list-style: decimal;
        padding-left: 1.25rem;
    }
}