@use "../vars";

.details {
    float: right;

    width: 250px;

    background-color: hsl(0, 0%, 95%);
    border: 1px solid vars.$border-color;

    padding: 0.25rem;
    margin-left: #{vars.$padding-gap * 2};

    &__title, &__description {
        text-align: center;
    }

    &__title {
        background-color: rgb(202, 224, 75);

        padding: 2px 0;
        box-sizing: border-box;
    }

    &__description {
        padding: 0.25rem 0;
    }

    &__image {
        max-inline-size: 100%;
        min-inline-size: 100%;
    }
}