@use "_global_styles.scss";

@use "./components/" as *;

@use "./utils" as util;
@use "./vars";

#container, .body__paragraph, .details, .content-table, .footer {
    padding: 0.5rem;
}

#container {
    float: left;

    width: 85%;

    background-color: hsl(0, 0%, 100%);
    border: 1px solid vars.$border-color;
}

#see-also {
    padding: 0.5rem 0;
    padding-left: 1.25rem;

    &__header {
        padding-bottom: 0.25rem;
    }
}